* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  box-sizing: border-box;
  margin: 0;
}

/* .clearfix::after {
  content: "";
  clear: both;
  display: table;
} */

h1 {
  font-size: 2.08rem;
}

h2 {
  font-size: 1.72rem;
}

h3 {
  font-size: 1.33rem;
}

/* xs */
/* default < 576 */

.container{
  width: 80vw;
  height: 200vh;
  margin: auto;
  margin-top: 5vh;
  background: #f0f0f0;
}

.logo {
  height: 5vw;
  width: auto;
  float: left;
}

.menu1-img {
  height: 5vw;
  width: auto;
}

.menu1 {
  display: block;
  position: absolute;
  top: 6.5%;
  left: 80%;
}

.menu1:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 45%;
  background-color: #c0c0c0;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
}

.menu2 {
  display: none;
  position: absolute;
  top: 10%;
  left: 70%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li, a{
  display: inline;
  text-decoration: none;
  font-size: 12pt;
  color: #ffffff;
}

.button-edit {
  position: absolute;
  height: 30px;
  background: #ff0000;
  font-size: .5rem;
}

.button-save {
  position: absolute;
  height: 30px;
  background: #00ff00;
  font-size: .5rem;
}

.button-search {
  position: absolute;
  height: 30px;
  background: #0000ff;
  color: #ffffff;
  font-size: .5rem;
}

.button-login {
  height: 30px;
  background: #808080;
  font-size: .5rem;
}

.options{
  font-size: .5rem;
}

.alert{
  color: #ff0000;
}

.rosie{
  width: 60vw;
  height: auto;
}

.rosie2{
  padding: 0;
  margin: 0;
}

.product {
  float: left;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 0;
  margin: 0;
}

.prod-descr {
  float: left;
  width: 100%;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 0;
  margin: 0;
}

.text-long {
  width: 80vw;
  float: left;
  padding: 20px;
  color: #ffffff;
}

.header2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.texta {
  font-size: 14px;
  height: 300px;
  width: 220px;
  word-wrap: normal;
}

.textb {
  font-size: 14px;
  height: 30px;
  width: 220px;
  word-wrap: normal;
}

.row-spacer {
  width: 100%;
  height: 1vw; /* VW */
  padding: 0;
  background: #ffffff;
}

.admin {
  color: #ff0000;
}

.row5 {
  width: 100%;
  height: 7vw; /* VW */
  padding: 1vw;
  background: #a0a0a0;
}

.row10 {
  width: 100%;
  height: 10vw; /* VW */
  padding: 2vw;
  background: #a0a0a0;
}

.row15 {
  width: 100%;
  height: 15vw; /* VW */
  padding: 2vw;
  background: #a0a0a0;
}

.row20 {
  width: 100%;
  height: 20vw; /* VW */
  padding: 2vw;
  background: #a0a0a0;
}

.row30 {
  width: 100%;
  height: 30vw; /* VW */
  padding: 2vw;
  background: #a0a0a0;
}

.row40 {
  width: 100%;
  height: 40vw; /* VW */
  padding: 2vw;
  background: #a0a0a0;
}

.row45 {
  width: 100%;
  height: 45vw; /* VW */
  padding: 2vw;
  background: #a0a0a0;
}


.col20 {
  width: 20%;
}

.col30 {
  width: 30%;
}

.col40 {
  width: 40%;
}

.col50 {
  width: 50%;
}

.col100 {
  width: 100%;
}

.header {
  text-align: center;
}

.textblock {
  text-align: center;
}

.text-leftj {
  padding: 20px;
  margin: auto;
}

.pages{
  color: #000000;
  font-size: 1rem;
}

/* sm */
@media (max-width: 576px){
  * {
    font-size: 1rem;
    font-weight: bold;
  }

  p {
    font-size: 1rem;
  }

  h1 {
    font-size: 1rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 1rem;
  }

  .menu1 {
    display: block;
  }
  
  .menu2 {
    display: none;
  }

  .rosie{
    width: 60vw;
    height: auto;
  }
}

/* md x1.33 */
@media (min-width: 768px){
  * {
    font-size: 1.33rem;
  }

  p {
    font-size: .6rem;
  }
  
  .text-long {
    width: 40vw;
  }
  
  .prod-descr {
    width: 50%;
  }
  
  .texta, .textb {
    width: 300px;
  }

  .menu1 {
    display: block;
    top: 8%;
  }
  
  .menu2 {
    display: none;
  }

  .rosie{
    width: 40vw;
    height: auto;
  }
}

/* lg x1.72 */
@media (min-width: 992px){
  * {
    font-size: 1.72rem;
  }

  p {
    font-size: .65rem;
  }
  
  .texta, .textb {
    width: 550px;
  }
  
  .prod-descr {
    width: 60%;
  }
  
  .text-long {
    width: 40vw;
  }

  .menu1 {
    display: none;
  }
  
  .menu2 {
    display: block;    
    left: 65%;
  }

  .rosie{
    width: 30vw;
    height: auto;
  }
}

/* xl x2.08 */
@media (min-width: 1200px){
  * {
    font-size: 2.08rem;
  }

  p {
    font-size: .6rem;
  }
  
  .prod-descr {
    width: 60%;
  }
  
  .text-long {
    width: 40vw;
  }

  .menu1 {
    display: none;
  }
  
  .menu2 {
    display: block;
    left: 65%;
  }

  .rosie{
    width: 20vw;
    height: auto;
  }
}